{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--Login--> 
<div class="shadow p-4 mb-5 bg-body rounded">
  <h1>Kirý</h1>
  <form action="" method=POST>
    {% csrf_token %}

  <form>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Paıdalanýshy aty</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Qupıasóz</label>
    <input type="password" class="form-control" name="password">
  </div>
  
  <button  value="Submit" class="btn btn-secondary" type="submit">Kirý</button>

</form>

  <p class="text-center">Júıede tirkelmegensiz be? <a href="/register">Tirkelý</a>.</p>
</div>

{% endblock %}