{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- about -->
    <section class = "about" id = "about">
        <div class = "container">
          <div class = "about-content">
            <div>
              <img src = "images/about-bg.jpg" alt = "">
            </div>
            <div class = "about-text">
              <div class = "title">
                <h2>Zhaniya & Yernar</h2>
                <p>Matematikasyz omir joq.</p>
              </div>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam voluptatem saepe eius ipsum nam provident sapiente, natus et vel eligendi laboriosam odit eos temporibus impedit veritatis ut, illo deserunt illum voluptate quis beatae quod. Necessitatibus provident dicta consectetur labore!</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam corrupti natus, eos quia recusandae voluptatem veniam modi officiis minima provident rem sint porro fuga quos tempora ea suscipit vero velit sed laudantium eaque necessitatibus maxime!</p>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
          </div>
          </div>
      </div>
      </section>
    </header>
      <!-- end of about -->
{% endblock %}
