{% extends 'base.html' %}
{% load static %}


{% block content %}         

{% if themes %}
  {% for el in themes %}
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ el.title }}</h3>
      </div>
      <div class="panel-body">
        <p>{{ el.ab_theme }}</p>
    </div>
    {% if el.image %}
          <!-- <img src="{{ el.image.url }}" class="img-responsive" style="width: 10%; float: left; margin-right: 10px;" /> -->
      </div>
    {% endif %}
  {% endfor %}
{% else %}
<div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Пока что нету тем</h3>
    </div>
  </div>
{% endif %}


{% endblock content %}
